{% extends "layout.html" %}
{% block content %}

<form class="row g-3"  action="/candidatos_fedita2/" method="post">
        <h3>
            <b class="mintit"> candidatos </b> 
        </h3>
   
   <div class="col-md-12">
    <label for="idCandidato" class="minap">id candidato</label>
    <input type="text" class="form-control" name="idCandidato" id="idCandidato" value="{{idC.0}}" readonly="readonly"></input>
 </div>
 <br>
 <div class="col-md-6">
    <label for="idVacante" class="minap">id Vacante</label>
    <input type="text" class="form-control" name="idVacante" id="idVacante" value="{{idV.0}}" readonly="readonly"></input>
 </div>
 <div class="col-md-6">
    <label for="idRequisicion" class="minap">id Requisicion</label>
    <input type="text" class="form-control" name="idRequisicion" id="idRequisicion" value="{{idR.0}}" readonly="readonly"></input>

 </div>
 <div class="col-md-12">
    <label for="idPuesto" class="minap">Puesto del Jefe Superior</label>
    <input type="text" class="form-control" name="idPuesto" id="idPuesto" value="{{Pjf.0}}" readonly="readonly"></input>
 </div>
 <div class="col-md-8">
    <label for="CURP" class="minap">CURP</label>
    <input type="text" class="form-control" name="CURP" id="CURP" value="{{curp.0}}" readonly="readonly"></input>
 </div>
 <div class="col-md-4">
    <label for="RFC" class="minap">RFC</label>
    <input type="text" class="form-control" name="RFC" id="RFC" value="{{rfc.0}}" readonly="readonly"></input>
 </div>
 <div class="col-md-12">
    <label for="nombre" class="minap">Nombre</label>
    <input type="text" class="form-control" name="nombre" id="nombre" value="{{nom.0}}" readonly="readonly"></input>
 </div>
 <div class="col-md-12">
    <label for="domCalle" class="minap">Calle</label>
    <input type="text" class="form-control" name="domCalle" id="domCalle" value="{{calle.0}}" readonly="readonly"></input>
 </div>
 <div class="col-md-12">
     <label for="domNumExtInt" class="minap">Numero Exterior Interior</label>
     <input type="text" class="form-control" name="domNumExtInt" id="domNumExtInt" value="{{numEI.0}}" readonly="readonly"></input>
 </div>
 <div class="col-md-4">
     <label for="domColonia" class="minap">domColonia</label>
     <input type="text" class="form-control" name="domColonia" id="domColonia" value="{{domC.0}}" readonly="readonly"></input>
 </div>
 <div class="col-md-4">
     <label for="tel1" class="minap">telefono1</label>
     <input type="text" class="form-control" name="tel1" id="tel1" value="{{tel.0}}" readonly="readonly"></input>
 </div>
 <div class="col-md-4">
     <label for="tel2" class="minap">telefono2</label>
     <input type="text" class="form-control" name="tel2" id="tel2" value="{{tel2.0}}" readonly="readonly"></input>

 </div>
 <div class="col-md-4">
     <label for="correoE" class="minap">correo electronico</label>
     <input type="text" class="form-control" name="correoE" id="correoE" value="{{correoE.0}}" readonly="readonly"></input>
 </div>
 <div class="col-md-4">
     <label for="edad" class="minap">Edad</label>
      <input type="text" class="form-control" name="edad" id="edad" value="{{edad.0}}" readonly="readonly"></input>
     </select>
 </div>
 <div class="col-md-4">
     <label for="sexo" class="minap">Sexo</label>
      <input type="text" class="form-control" name="sexo" id="sexo" value="{{sexo.0}}" readonly="readonly"></input>
 </div>
 <div class="col-md-12">
     <label for="idEstadoCivil" class="minap">Estado Civil</label>
     <input type="text" class="form-control" name="idEstadoCivil" id="idEstadoCivil" value="{{Ecivil.0}}" readonly="readonly"></input>
 </div>
 <div class="col-md-12">
     <label for="idGradoAvance" class="minap">Grado Avance</label>
     <input type="text" class="form-control" name="idGradoAvance" id="idGradoAvance" value="{{GAva.0}}" readonly="readonly"></input>
  </div>
  <div class="col-md-12">
      <label for="idCarrera" class="minap">Carrera</label>
      <input type="text" class="form-control" name="idCarrera" id="idCarrera" value="{{carrera.0}}" readonly="readonly"></input>
  </div>
  <div class="col-md-12">
      <label for="entrevSelecReq" class="minap">entrevista Selececion Requerida</label>
      <input type="text" class="form-control" name="entrevSelecReq" id="entrevSelecReq" value="{{esr.0}}" readonly="readonly"></input>
  </div>
  <div class="col-md-12">
      <label for="entrevSelecPresen" class="minap">entrevista Seleccion Presente</label>
      <input type="text" class="form-control" name="entrevSelecPresen" id="entrevSelecPresen" value="{{esP.0}}" readonly="readonly"></input>
  </div>
  <div class="col-md-12">
      <label for="entrevSelecResult" class="minap">entrevista Seleccion resultado</label>
      <input type="text" class="form-control" name="entrevSelecResult" id="entrevSelecResult" value="{{esR.0}}" readonly="readonly"></input>
  </div>
  <div class="col-md-12">
      <label for="evalMedicaReq" class="minap">evaluacion medica Requerida</label>
      <input type="text" class="form-control" name="evalMedicaReq" id="evalMedicaReq" value="{{emR.0}}" readonly="readonly"></input>
  </div>
  <div class="col-md-12">
      <label for="evalMedicaPresen" class="minap">evaluacion medica Presente</label>
      <input type="text" class="form-control" name="evalMedicaPresen" id="evalMedicaPresen" value="{{emP.0}}" readonly="readonly"></input>
  </div>
  <div class="col-md-12">
      <label for="evalMedicaResult" class="minap">evaluacion medica resultado</label>
      <input type="text" class="form-control" name="evalMedicaResult" id="evalMedicaResult" value="{{emr.0}}" readonly="readonly"></input>
  </div>
  <div class="col-md-12">
      <label for="evalPsicolgReq" class="minap">evaluacion Psicologico Requerida</label>
      <input type="text" class="form-control" name="evalPsicolgReq" id="evalPsicolgReq" value="{{epR.0}}" readonly="readonly"></input>
  </div>
  <div class="col-md-12">
      <label for="evalPsicolgPresen" class="minap">evaluacion Psicolg Presente</label>
      <input type="text" class="form-control" name="evalPsicolgPresen" id="evalPsicolgPresen" value="{{epP.0}}" readonly="readonly"></input>
  </div>
  <div class="col-md-12">
      <label for="evalPsicolgResult" class="minap">evaluacion Psicolg resultado</label>
      <input type="text" class="form-control" name="evalPsicolgResult" id="evalPsicolgResult" value="{{epr.0}}" readonly="readonly"></input>
  </div>
  <div class="col-md-12">
      <label for="evalPsicometReq" class="minap">evaluacion Psicomet Requerida</label>
      <input type="text" class="form-control" name="evalPsicometReq" id="evalPsicometReq" value="{{epR.0}}" readonly="readonly"></input>
  </div>
  <div class="col-md-12">
      <label for="evalPsicometPresen" class="minap">evaluacion Psicomet Presente</label>
      <input type="text" class="form-control" name="evalPsicometPresen" id="evalPsicometPresen" value="{{epP.0}}" readonly="readonly"></input>
  </div>
  <div class="col-md-12">
      <label for="evalPsicometResult" class="minap">evaluacion Psicomet resultado</label>
      <input type="text" class="form-control" name="evalPsicometResult" id="evalPsicometResult" value="{{epr.0}}" readonly="readonly"></input>
  </div>
  <div class="col-md-12">
      <label for="evalTecnicaReq" class="minap">evaluacion Tecnica Requerida</label>
      <input type="text" class="form-control" name="evalTecnicaReq" id="evalTecnicaReq" value="{{etR.0}}" readonly="readonly"></input>
  </div>
  <div class="col-md-12">
      <label for="evalTecnicaPresen" class="minap">evaluacion Tecnica Presente</label>
      <input type="text" class="form-control" name="evalTecnicaPresen" id="evalTecnicaPresen" value="{{etP.0}}" readonly="readonly"></input>
  </div>
  <div class="col-md-12">
      <label for="evalTecnicaResult" class="minap">evaluacion Tecnica resultado</label>
      <input type="text" class="form-control" name="evalTecnicaResult" id="evalTecnicaResult" value="{{etr.0}}" readonly="readonly"></input>
  </div>
  <div class="col-md-12">
      <label for="evalConocReq" class="minap">evaluacion Conocimientos Requerida</label>
      <input type="text" class="form-control" name="evalConocReq" id="evalConocReq" value="{{ecR.0}}" readonly="readonly"></input>
  </div>
  <div class="col-md-12">
      <label for="evalConocPresen" class="minap">evaluacion Conocimientos Presente</label>
      <input type="text" class="form-control" name="evalConocPresen" id="evalConocPresen" value="{{ecP.0}}" readonly="readonly"></input>
  </div>
  <div class="col-md-12">
      <label for="evalConocResult" class="minap">evaluacion Conocimientos resultado</label>
      <input type="text" class="form-control" name="evalConocResult" id="evalConocResult" value="{{ecr.0}}" readonly="readonly"></input>
  </div>
  <div class="col-md-12">
      <label for="evalFinalReq" class="minap">evaluacion Final Requerida</label>
      <input type="text" class="form-control" name="entrevlFinalReq" id="entrevlFinalReq" value="{{efR.0}}" readonly="readonly"></input>
  </div>
  <div class="col-md-12">
      <label for="evalFinalPresen" class="minap">evaluacion Final Presente</label>
      <input type="text" class="form-control" name="entrevFinalPresen" id="entrevFinalPresen" value="{{efP.0}}" readonly="readonly"></input>
  </div>
  <div class="col-md-12">
      <label for="evalFinalResult" class="minap">evaluacion Final resultado</label>
      <input type="text" class="form-control" name="entrevFinalResult" id="entrevFinalResult" value="{{efr.0}}" readonly="readonly"></input>
  </div>


  </div>
   <div class="col-12">
          <button type="submit" class="btn btn-outline-light">Actualizar</button>
    </div>
</form>
{% endblock %}