{% extends "layout.html" %}
{% block content %}
<div class="tablass">
    <table class="bordercolor">
    <tbody>
    <tr>
    <td class="minap" valign="top">
        <div class="mintit">
            <h3>CANDIDATOS REGISTRADOS</h3>
        </div>
    <table class="table table-dark table-hover" class="bordercolor">
    <thead>
      <tr>
        <td>Nombre del candidato</td>
        <td></td>
        <td></td>
        <td> <rigth><h2><a href="/candidato_agrOp2" class="btn btn-dark btn-sm">Agregar Candidatos</a></h2></rigth>  </td>
      </tr>
    </thead>
    <tbody>
    {% for i in can %}
        <tr>
        <td width="60%">
           {{i.1}}
        </td>

        <td width="6%" class="center">
        <a href="/candidatos_fdetalle/{{i.0}}" class="btn btn-outline-info btn-sm ">Detalle</a>
        </td>
        <td width="6%" class="center">
        <a href="/candidatos_editar/{{i.0}}" class="btn btn-outline-info btn-sm ">Editar</a>
        </td>
        <td width="6%" class="center">
        <a href="/candidatos_borrar/{{i.0}}" class="btn btn-outline-primary btn-sm">Borrar</a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
<form class="row g-3"  action="/candidato_fdetalle/" method="GET">
    <h3>
        <b class="mintit"> Detalle: </b>
    </h3>
   <div class="col-md-12">
      <label for="idCandidato" class="minap">Id candidato</label>
      <input type="text" class="form-control" name="idCandidato" id="idCandidato" value="{{idC}}" readonly="readonly"></input>
   </div>
   <br>
   <div class="col-md-6">
      <label for="idVacante" class="minap">Id Vacante</label>
      <input type="text" class="form-control" name="idVacante" id="idVacante" value="{{idV}}" readonly="readonly"></input>
   </div>
   <div class="col-md-6">
      <label for="idRequisicion" class="minap">Id Requisicion</label>
      <input type="text" class="form-control" name="idRequisicion" id="idRequisicion" value="{{idR}}" readonly="readonly"></input>

   </div>
   <div class="col-md-12">
      <label for="idPuesto" class="minap">Puesto del Jefe Superior</label>
      <input type="text" class="form-control" name="idPuesto" id="idPuesto" value="{{Pjf}}" readonly="readonly"></input>
   </div>
   <div class="col-md-8">
      <label for="CURP" class="minap">CURP</label>
      <input type="text" class="form-control" name="CURP" id="CURP" value="{{curp}}" readonly="readonly"></input>
   </div>
   <div class="col-md-4">
      <label for="RFC" class="minap">RFC</label>
      <input type="text" class="form-control" name="RFC" id="RFC" value="{{rfc}}" readonly="readonly"></input>
   </div>
   <div class="col-md-12">
      <label for="nombre" class="minap">Nombre</label>
      <input type="text" class="form-control" name="nombre" id="nombre" value="{{nom}}" readonly="readonly"></input>
   </div>
   <div class="col-md-12">
      <label for="domCalle" class="minap">Calle</label>
      <input type="text" class="form-control" name="domCalle" id="domCalle" value="{{calle}}" readonly="readonly"></input>
   </div>
   <div class="col-md-12">
       <label for="domNumExtInt" class="minap">Numero Exterior Interior</label>
       <input type="text" class="form-control" name="domNumExtInt" id="domNumExtInt" value="{{numEI}}" readonly="readonly"></input>
   </div>
   <div class="col-md-4">
       <label for="domColonia" class="minap">Domicilio y Colonia</label>
       <input type="text" class="form-control" name="domColonia" id="domColonia" value="{{domC}}" readonly="readonly"></input>
   </div>
   <div class="col-md-4">
       <label for="tel1" class="minap">Teléfono1</label>
       <input type="text" class="form-control" name="tel1" id="tel1" value="{{tel}}" readonly="readonly"></input>
   </div>
   <div class="col-md-4">
       <label for="tel2" class="minap">Teléfono2</label>
       <input type="text" class="form-control" name="tel2" id="tel2" value="{{tel2}}" readonly="readonly"></input>

   </div>
   <div class="col-md-4">
       <label for="correoE" class="minap">correo Electronico</label>
       <input type="text" class="form-control" name="correoE" id="correoE" value="{{correoE}}" readonly="readonly"></input>
   </div>
   <div class="col-md-4">
       <label for="edad" class="minap">Edad</label>
        <input type="text" class="form-control" name="edad" id="edad" value="{{edad}}" readonly="readonly"></input>
       </select>
   </div>
   <div class="col-md-4">
       <label for="sexo" class="minap">Sexo</label>
        <input type="text" class="form-control" name="sexo" id="sexo" value="{{sexo}}" readonly="readonly"></input>
   </div>
   <div class="col-md-12">
       <label for="idEstadoCivil" class="minap">Estado Civil</label>
       <input type="text" class="form-control" name="idEstadoCivil" id="idEstadoCivil" value="{{Ecivil}}" readonly="readonly"></input>
   </div>
   <div class="col-md-12">
       <label for="idGradoAvance" class="minap">Grado Avance</label>
       <input type="text" class="form-control" name="idGradoAvance" id="idGradoAvance" value="{{GAva}}" readonly="readonly"></input>

    </div>
    <div class="col-md-12">
        <label for="idCarrera" class="minap">Carrera</label>
        <input type="text" class="form-control" name="idCarrera" id="idCarrera" value="{{carrera}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="entrevSelecReq" class="minap">Entrevista Selececion Requerida</label>
        <input type="text" class="form-control" name="entrevSelecReq" id="entrevSelecReq" value="{{esr}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="entrevSelecPresen" class="minap">Entrevista Seleccion Presente</label>
        <input type="text" class="form-control" name="entrevSelecPresen" id="entrevSelecPresen" value="{{esP}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="entrevSelecResult" class="minap">Entrevista Seleccion Resultado</label>
        <input type="text" class="form-control" name="entrevSelecResult" id="entrevSelecResult" value="{{esR}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="evalMedicaReq" class="minap">Evaluacion medica Requerida</label>
        <input type="text" class="form-control" name="evalMedicaReq" id="evalMedicaReq" value="{{emR}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="evalMedicaPresen" class="minap">Evaluacion medica Presente</label>
        <input type="text" class="form-control" name="evalMedicaPresen" id="evalMedicaPresen" value="{{emP}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="evalMedicaResult" class="minap">Evaluacion medica resultado</label>
        <input type="text" class="form-control" name="evalMedicaResult" id="evalMedicaResult" value="{{emr}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="evalPsicolgReq" class="minap">Evaluacion Psicologico Requerida</label>
        <input type="text" class="form-control" name="evalPsicolgReq" id="evalPsicolgReq" value="{{epR}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="evalPsicolgPresen" class="minap">Evaluacion Psicolg Presente</label>
        <input type="text" class="form-control" name="evalPsicolgPresen" id="evalPsicolgPresen" value="{{epP}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="evalPsicolgResult" class="minap">Evaluacion Psicolg resultado</label>
        <input type="text" class="form-control" name="evalPsicolgResult" id="evalPsicolgResult" value="{{epr}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="evalPsicometReq" class="minap">Evaluacion Psicomet Requerida</label>
        <input type="text" class="form-control" name="evalPsicometReq" id="evalPsicometReq" value="{{epRe}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="evalPsicometPresen" class="minap">Evaluacion Psicomet Presente</label>
        <input type="text" class="form-control" name="evalPsicometPresen" id="evalPsicometPresen" value="{{epPr}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="evalPsicometResult" class="minap">Evaluacion Psicomet Resultado</label>
        <input type="text" class="form-control" name="evalPsicometResult" id="evalPsicometResult" value="{{epre}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="evalTecnicaReq" class="minap">Evaluacion Tecnica Requerida</label>
        <input type="text" class="form-control" name="evalTecnicaReq" id="evalTecnicaReq" value="{{etR}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="evalTecnicaPresen" class="minap">Evaluacion Tecnica Presente</label>
        <input type="text" class="form-control" name="evalTecnicaPresen" id="evalTecnicaPresen" value="{{etP}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="evalTecnicaResult" class="minap">Evaluacion Tecnica Resultado</label>
        <input type="text" class="form-control" name="evalTecnicaResult" id="evalTecnicaResult" value="{{etr}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="evalConocReq" class="minap">Evaluacion Conocimientos Requerida</label>
        <input type="text" class="form-control" name="evalConocReq" id="evalConocReq" value="{{ecR}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="evalConocPresen" class="minap">Evaluacion Conocimientos Presente</label>
        <input type="text" class="form-control" name="evalConocPresen" id="evalConocPresen" value="{{ecP}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="evalConocResult" class="minap">Evaluacion Conocimientos Resultado</label>
        <input type="text" class="form-control" name="evalConocResult" id="evalConocResult" value="{{ecr}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="evalFinalReq" class="minap">Evaluacion Final Requerida</label>
        <input type="text" class="form-control" name="evalFinalReq" id="evalFinalReq" value="{{efR}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="evalFinalPresen" class="minap">Rvaluacion Final Presente</label>
        <input type="text" class="form-control" name="evalFinalPresen" id="evalFinalPresen" value="{{efP}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="evalFinalResult" class="minap">Evaluacion Final Resultado</label>
        <input type="text" class="form-control" name="evalFinalResult" id="evalFinalResult" value="{{efr}}" readonly="readonly"></input>
    </div>
</form>



{% endblock %}