{% extends "layout.html" %}
{% block content %}
<h3>
    <center><b>Agregar Puesto</b></center>
    <b class="center"> Agregar Puesto </b>
</h3>

<br>
<form class="row g-3" action="/puesto_fagrega2" method="post">
    <div class="col-md-6">
        <label for="codPuesto" class="form-label">Código de Puesto</label>
        <input type="text" class="form-control" name="codPuesto" id="codPuesto">
    </div>
    <div class="col-md-6">
        <label for="idArea" class="form-label">Área de adscripción</label>
        <select name="idArea" id="idArea" class="form-select">
            <option selected="true" disabled="disabled">Elige...</option>
            {% for i in catArea %}
                <option value="{{ i.0 }}">{{ i.1 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-12">
        <label for="nomPuesto" class="form-label">Nombre del Puesto</label>
        <input type="text" class="form-control" name="nomPuesto" id="nomPuesto">
    </div>
    <div class="col-md-12">
        <label for="puestoJefeSup" class="form-label">Puesto del Jefe Superior</label>
        <input type="text" class="form-control" name="puestoJefeSup" id="puestoJefeSup">
    </div>
    <div class="col-md-8">
        <label for="jornada" class="form-label">Jornada</label>
        <input type="text" class="form-control" name="jornada" id="jornada">
    </div>
    <div class="col-md-4">
        <label for="remunMensual" class="form-label">Remuneración Mensual</label>
        <input type="text" class="form-control" name="remunMensual" id="remunMensual">
    </div>
    <div class="col-md-12">
        <label for="prestaciones" class="form-label">Prestaciones</label>
        <input type="text" class="form-control" name="prestaciones" id="prestaciones">
    </div>
    <div class="col-md-12">
        <label for="descripcionGeneral" class="form-label">Descripción General</label>
        <input type="text" class="form-control" name="descripcionGeneral" id="descripcionGeneral">
    </div>
    <div class="col-md-12">
        <label for="funciones" class="form-label">Funciones</label>
        <input type="text" class="form-control" name="funciones" id="funciones">
    </div>
    <div class="col-md-4">
        <label for="edad" class="form-label">Edad</label>
        <input type="text" class="form-control" name="edad" id="edad">
    </div>
    <div class="col-md-4">
        <label for="sexo" class="form-label">Sexo</label>
        <select name="sexo" id="sexo" class="form-select">
            <option selected="true" disabled="disabled">Elige...</option>
            <option value="Indistinto">Indistinto</option>
            <option value="Hombre">Hombre</option>
            <option value="Mujer">Mujer</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="idEstadoCivil" class="form-label">Estado Civil</label>
        <select name="idEstadoCivil" id="idEstadoCivil" class="form-select">
            <option selected="true" disabled="disabled">Elige...</option>
            {% for i in catEdoCivil %}
                <option value="{{ i.0 }}">{{ i.1 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">
        <label for="idEscolaridad" class="form-label">Escolaridad</label>
        <select name="idEscolaridad" id="idEscolaridad" class="form-select" onChange="miFunc1()">
            <option selected="true" disabled="disabled">Elige...</option>
            {% for i in catEscolaridad %}
                <option value="{{ i.0 }}">{{ i.1 }}</option>
            {% endfor %}
        </select>
        <script>
            function miFunc1() {
                var esco = document.getElementById('idEscolaridad').value;
                if (esco == 1) {
                    document.getElementById('idGradoAvance').disabled = true;
                    document.getElementById('idCarrera').disabled = true;
                } else {
                    document.getElementById('idGradoAvance').disabled = false;
                    document.getElementById('idCarrera').disabled = false;
                }
            }
        </script>
    </div>
    <div class="col-md-4">
        <label for="idGradoAvance" class="form-label">Grado Avance</label>
        <select name="idGradoAvance" id="idGradoAvance" class="form-select">
            <option selected="true" disabled="disabled">Elige...</option>
            {% for i in catGradoAvance %}
                <option value="{{ i.0 }}">{{ i.1 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">
        <label for="idCarrera" class="form-label">Carrera / Especialidad</label>
        <select name="idCarrera" id="idCarrera" class="form-select">
            <option selected="true" disabled="disabled">Elige...</option>
            {% for i in catCarrera %}
                <option value="{{ i.0 }}">{{ i.1 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-12">
        <label for="experiencia" class="form-label">Experiencia</label>
        <input type="text" class="form-control" name="experiencia" id="experiencia">
    </div>
    <div class="col-md-12">
        <label for="conocimientos" class="form-label">Conocimientos</label>
        <input type="text" class="form-control" name="conocimientos" id="conocimientos">
    </div>
    <div class="col-md-12">
        <label para="manejoEquipo" class="form-label">Manejo de Equipo</label>
        <input type="text" class="form-control" name="manejoEquipo" id="manejoEquipo">
    </div>
    <div class="col-md-12">
        <label para="reqFisicos" class="form-label">Requisitos Físicos</label>
        <input type="text" class="form-control" name="reqFisicos" id="reqFisicos">
    </div>
    <div class="col-md-12">
        <label para="reqPsicologicos" class="form-label">Requisitos Psicológicos</label>
        <input type="text" class="form-control" name="reqPsicologicos" id="reqPsicologicos">
    </div>
    <div class="col-md-12">
        <label para="responsabilidades" class="form-label">Responsabilidades</label>
        <input type="text" class="form-control" name="responsabilidades" id="responsabilidades">
    </div>
    <div class="col-md-12">
        <label para="condicionesTrabajo" class="form-label">Condiciones de Trabajo</label>
        <input type="text" class="form-control" name="condicionesTrabajo" id="condicionesTrabajo">
    </div>
    <div class="col-6">
        <span>Idiomas:</span>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="i1" id="i1" onChange="miFunc2()">
            <label class="form-check-label" for="i1">NO REQUERIDO</label>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Enviar</button>
         </div>
      </div>
   </form>
{% endblock %}
