{% extends "layout.html" %}
{% block content %}
<form class="row g-3"  action="/requisicion_fedita2/" method="post">
   <h3>
      <b class="mintit">Editar Requisición</b>
   </h3>
   <div class="col-md-12">
      <label class="minap">Folio</label>
      <input type="text" class="form-control" name="folio" id="folio" value="{{folio.0}}" readonly="readonly"></input>
   </div>
   <br>
   <div class="col-md-6">
      <label class="minap">Fecha de Elaboracion</label>
      <input type="text" class="form-control" name="elab" id="elab" value="{{elab.0}}" readonly="readonly"></input>
   </div>
   <div class="col-md-6">
      <label class="minap">Fecha Reclutamiento</label>
      <input type="text" class="form-control" name="recluta" id="recluta" value="{{recluta.0}}" readonly="readonly"></input>
   </div>
   <div class="col-md-12">
      <label class="minap">Inicio Vacante</label>
      <input type="text" class="form-control" name="inicvac" id="inicvac" value="{{inicvac.0}}" readonly="readonly"></input>
   </div>
   <div class="col-md-8">
      <label class="minap">Motivo</label>
      <input type="text" class="form-control" name="motivo" id="motivo" value="{{motivo.0}}" readonly="readonly"></input>
   </div>
   <div class="col-md-4">
      <label class="minap">Motivo Especifique</label>
      <input type="text" class="form-control" name="motes" id="motes" value="{{motes.0}}" readonly="readonly"></input>
   </div>
   <div class="col-md-12">
      <label class="minap">Tipo</label>
      <input type="text" class="form-control" name="tipo" id="tipo" value="{{tipo.0}}" readonly="readonly"></input>
   </div>
   <div class="col-md-12">
      <label class="minap">Nombre Solicita</label>
      <input type="text" class="form-control" name="nomsoli" id="nomsoli" value="{{nomsoli.0}}" readonly="readonly"></input>
   </div>
   <div class="col-md-12">
       <label class="minap">Nombre Autoriza</label>
       <input type="text" class="form-control" name="nomauto" id="nomauto" value="{{nomauto.0}}" readonly="readonly"></input>
   </div>
   <div class="col-md-12">
    <label class="minap">Nombre Revisa</label>
    <input type="text" class="form-control" name="nomrevi" id="nomrevi" value="{{nomrevi.0}}" readonly="readonly"></input>
</div>
   <div class="col-12">
          <button type="submit" class="btn btn-outline-light">Actualizar</button>
    </div>
</form>
{% endblock %}