{% extends "layout.html" %}
{% block content %}
<form class="row g-3"  action="/requisicion_fagrega2" method="post">
   <h3>
      <b class="mintit">Agregar Requisicion </b>
   </h3>
   <div class="col-md-12">
      <label class="minap">Folio</label>
      <input type="text" class="form-control" name="folio" id="folio"  ></input>
   </div>
   <br>
   <div class="col-md-6">
      <label class="minap">Fecha de Elaboracion</label>
      <input type="text" class="form-control" name="elab" id="elab" ></input>
   </div>
   <div class="col-md-6">
      <label class="minap">Fecha Reclutamiento</label>
      <input type="text" class="form-control" name="recluta" id="recluta"></input>
   </div>
   <div class="col-md-12">
      <label class="minap">Inicio Vacante</label>
      <input type="text" class="form-control" name="inicvac" id="inicvac" ></input>
   </div>
   <div class="col-md-8">
      <label class="minap">Motivo</label>
      <input type="text" class="form-control" name="motivo" id="motivo" ></input>
   <div class="col-md-4">
      <label class="minap">Motivo Especifique</label>
      <input type="text" class="form-control" name="motes" id="motes" ></input>
   </div>
   <div class="col-md-12">
      <label class="minap">Tipo</label>
      <input type="text" class="form-control" name="tipo" id="tipo" ></input>
   </div>
   <div class="col-md-12">
      <label class="minap">Nombre Solicita</label>
      <input type="text" class="form-control" name="nomsoli" id="nomsoli" ></input>
   </div>
   <div class="col-md-12">
       <label class="minap">Nombre Autoriza</label>
       <input type="text" class="form-control" name="nomauto" id="nomauto" ></input>
   </div>
   <div class="col-md-12">
      <label class="minap">Nombre Revisa</label>
      <input type="text" class="form-control" name="nomrevi" id="nomrevi" ></input>
   </div>
   <div class="col-12">
          <button type="submit" class="btn btn-outline-light">Agregar</button>
    </div>
</form>
{% endblock %}