{% extends "layout.html" %}
{% block content %}
<h3>
    <b class="center"> Agregar Puesto </b>
</h3>

<br>
<form class="row g-3"  action="/requisicion_fagrega2" method="post">
   <div class="col-md-12">
      <label for="nomPuesto" class="form-label">Folio</label>
      <input type="text" class="form-control" name="nomPuesto" id="nomPuesto" value="{{folio.3}}" readonly="readonly"></input>
   </div>
   <br>
   <div class="col-md-6">
      <label for="codPuesto" class="form-label">Fecha de elaboracion</label>
      <input type="text" class="form-control" name="codPuesto" id="codPuesto" value="{{elab.1}}" readonly="readonly"></input>
   </div>
   <div class="col-md-6">
      <label for="idArea" class="form-label">fecha reclutamiento</label>
      <input type="text" class="form-control" name="idArea" id="idArea" value="{{recluta.1}}" readonly="readonly"></input>

   </div>
   <div class="col-md-12">
      <label for="puestoJefeSup" class="form-label">inicio vacante</label>
      <input type="text" class="form-control" name="puestoJefeSup" id="puestoJefeSup" value="{{inicvac.4}}" readonly="readonly"></input>
   </div>
   <div class="col-md-8">
      <label for="jornada" class="form-label">motivo</label>
      <input type="text" class="form-control" name="jornada" id="jornada" value="{{motivo.5}}" readonly="readonly"></input>
   </div>
   <div class="col-md-4">
      <label for="remunMensual" class="form-label">motivo especifique</label>
      <input type="text" class="form-control" name="remunMensual" id="remunMensual" value="{{motes.6}}" readonly="readonly"></input>
   </div>
   <div class="col-md-12">
      <label for="prestaciones" class="form-label">tipo</label>
      <input type="text" class="form-control" name="prestaciones" id="prestaciones" value="{{tipo.7}}" readonly="readonly"></input>
   </div>
   <div class="col-md-12">
      <label for="descripcionGeneral" class="form-label">nombre solicita</label>
      <input type="text" class="form-control" name="descripcionGeneral" id="descripcionGeneral" value="{{nomsoli.8}}" readonly="readonly"></input>
   </div>
   <div class="col-md-12">
       <label for="funciones" class="form-label">nombre autoriza</label>
       <input type="text" class="form-control" name="funciones" id="funciones" value="{{nomauto.9}}" readonly="readonly"></input>
   </div>
   <div class="col-md-12">
    <label for="funciones" class="form-label">nombre revisa</label>
    <input type="text" class="form-control" name="funciones" id="funciones" value="{{nomrevi.9}}" readonly="readonly"></input>
</div>

   <div class="col-12">
          <button type="submit" class="btn btn-primary">Enviar</button>

    </div>
</form>
{% endblock %}